<%# a bookings page to show all the bookings on that current session %>
<div class="p-12">
  <div class="rounded-lg shadow-lg bg-white divide-y">

    <div class="p-6">
      <h1 class="text-4xl font-medium"><%= @event.name %></h1>
      <p class="text-2xl"><%= @session.when.strftime("%A %-d %B") %> <%= @session.when.strftime("%-I%P") %></p>
    </div>

    <% @session.bookings.each do |booking| %>
      <div class="hover:bg-gray-50 grid grid-cols-3 md:grid-cols-5 grid-flow-row">

        <div class="col-span-3 md:col-span-1 p-6 self-center text-center md:text-left">
          <p class="font-medium"><%= User.find(booking.user_id).name %></p>
          <p><%= User.find(booking.user_id).email %></p>
        </div>

        <div class="p-6 self-center text-center">
          <%= booking.presence %>
        </div>

        <div class="p-6 self-center text-center">
          <%= booking.attendees %>
        </div>

        <div class="p-6 self-center text-center">
          <%= booking.payment_method %>
        </div>

        <div class="p-6 col-span-3 md:col-span-1 p-3 self-center text-center md:text-right">
          <%# delete the booking that corralates to the current Session that belongs to the current Event   %>
          <%= link_to "Cancel", event_session_booking_path(Event.find(Session.find(booking.session_id).event_id), Session.find(booking.session_id), booking), method: :delete, data: { confirm: "Are you sure you'd like to cancel this booking?" }, class: "inline-block rounded bg-red hover:bg-red-light px-6 py-3 text-center text-white" %>
        </div>

      </div>
    <% end %>
  </div>
</div>
