<% if current_user.try(:admin?) %>
  <%= link_to "<i class='fas fa-times'></i>".html_safe, home_path, class: "fixed z-10 top-0 shadow bg-white text-red rounded-b-lg px-5 py-1 right-10 text-2xl" %>

  <div class="mx-1 -mt-3">
    <%= month_calendar do |date| %>

      <div class="relative">
        <p class="ml-3 mt-2 border px-2 absolute w-max rounded bg-white shadow"><%= date.day %></p>
        <div class="flex flex-col mt-3" style="max-height: 6rem; overflow: auto;">

          <% @events.each do |e| %>
            <% e.sessions.each do |s| %>
              <% if s.when != nil && s.when.to_date == date %>
                <%= link_to event_path(e), class: "flex" do %>
                  <div class="<%= e.find_color(e.id) %> px-3 flex rounded rounded-l-none shadow mt-1 -ml-1 text-sm text-center p-1 pl-14 w-max">
                    <h5 class="font-semibold mr-2"><%= e.name %></h5>
                    <p class="text-sm"><%= s.when.strftime("%I:%M%P") %></p>
                    <% unless s.when <= (Date.today + 7) %>
                      <%= link_to "<i class='far fa-trash-alt'></i>".html_safe, event_session_path(e.id, s.id), method: :delete, data: { confirm: "Remove #{ e.name } on #{ s.when.to_date}?" }, class: "ml-3 text-xs -mr-1" %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

        </div>
      </div>
    <% end %>
  </div>
<% end %>
