<!-- Page -->
<% if current_user.try(:admin?) %>
  <!-- For Admin only -->

  <div class="w-full bg-teal text-white text-3xl pt-7 pb-4 pl-20 pr-20 flex justify-between">
    <% if params[:controller] == "events" %>
      <h1>Add Yoga Classes and Sessions</h1>
    <% else  %>
      <h1>Add Reviews</h1>
    <% end %>

    <!-- Back to admin dashboard -->
    <%= link_to "Admin Dashboard", home_path, class: "font-semibold text-base bg-white text-black hover:bg-lightGrey px-4 py-3 text-center shadow-sm" %>
  </div>

  <div class="p-12 bg-gray-50 grid lg:grid-cols-2 gap-y-0 gap-10 relative">
    <!-- All Events or Reviews -->
    <% ( params[:controller] == "events" ? @events : @reviews ).each do |e| %>

      <!-- Update for event/review if the id is in params -->
      <% if params[:id].to_i == e.id %>
        <%= form_with model: e do |f| %>
          <div class="flex mb-5">

            <!-- Image for event/review -->
            <% if e.photo.attached? %>
              <%= cl_image_tag e.photo.key, class: "w-64 object-cover h-64 shadow" %>
            <% else %>
              <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png", class: "w-64 object-cover h-64 shadow" %>
            <% end %>

            <div class="bg-white flex flex-col md:flex-row relative mb-2 shadow w-full">
            <!-- Upload a new image -->
              <%= f.file_field :photo, class: "absolute bottom-4 left-4" %>
              <%= link_to (params[:controller] == "events" ? events_path : reviews_path) do %>
                <i class="fas fa-times absolute right-4 top-7 text-xl"></i>
              <% end %>

              <div class="p-6 flex flex-col space-y-6 h-64">
                <div class="flex flex-col space-y-1">
                  <!-- Change event/review name -->
                  <%= f.text_field :name, class: "text-2xl font-medium", placeholder: current_page?(events_path) ? "Name of class" : "Name of Reviewer" %>
                </div>

                <!-- Change event/review description -->
                <p><%= f.text_area :description, placeholder: current_page?(events_path) ? "Class Description" : "Review Description", size: "50x2.9" %></p>

                <div class="flex justify-end">
                  <!-- Update the event/review -->
                  <%= f.submit "Update", class: "bg-teal hover:bg-teal-light px-6 py-3 text-center text-white shadow-sm" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      <!-- Else just show the event/review -->
      <% else %>
        <div class="flex mb-5">
          <% if e.photo.attached? %>
            <%= cl_image_tag e.photo.key, class: "w-64 object-cover h-64 shadow" %>
          <% else %>
            <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png", class: "w-64 object-cover h-64 shadow" %>
          <% end %>

          <div class="bg-white flex flex-col md:flex-row relative mb-2 shadow">
            <div class="p-6 flex flex-col space-y-6 h-64">
              <div class="flex flex-col space-y-1">
                <!-- The name of the event/review -->
                <h3 class="text-2xl font-medium"><%= e.name %></h3>
              </div>

              <!-- The description of the event/review -->
              <p style="overflow: auto;"><%= e.description %></p>

              <!-- Delete and edit buttons -->
              <div class="flex justify-end absolute right-4 top-0">
                <%= link_to (params[:controller] == "events" ? edit_event_path(e.id) : edit_review_path(e.id)), class: "text-black mr-2" do %>
                  <!-- Edit button for the event/review, changes the page -->
                  <i class="fas fa-edit"></i>
                <% end %>
                <%= link_to (params[:controller] == "events" ? event_path(e.id) : review_path(e.id)), method: :delete, data: { confirm: "Are you sure?" }, class: "text-black" do %>
                  <!-- Delete the event/review -->
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </div>

              <% if params[:controller] == "events" %>
                <div class="absolute flex right-5 bottom-5">
                  <p class="new-yoga">Add a New Yoga Session</p>
                  <span class="new-yoga-button ml-2 bg-teal py-1 px-2 w-max hover:bg-teal-light"><i class="fas fa-plus text-white"></i></span>
                </div>
              <% end %>

              <!-- Add new session for events_path -->
              <div id="inactive" class="session-form invisible hidden w-screen h-screen fixed top-0 left-0 z-10">
                <%= link_to events_path do %>
                  <div class="fixed top-0 left-0 z-10 bg-black h-screen w-screen opacity-40"></div>
                <% end %>

                <div class="width-max bg-white p-20 shadow fixed z-20 relative" style="margin-left: 50vw; margin-top: 50vh; transform: translate(-50%, -50%);">
                  <% if params[:controller] == "events" %>
                    <%= form_with model: [ e, e.sessions.build ] do |form| %>
                      <div class="flex flex-col justify-between">
                        <h4 class="text-4xl mb-10">Add Session to <%= e.name %></h4>
                        <%= link_to events_path do %><i class="fas fa-times absolute top-10 right-10 text-xl"></i><% end %>

                        <div class="flex flex-row justify-start">
                          <div class="flex flex-col mb-4 mr-5">
                            <div class="flex flex-col">
                              <p class="font-semibold">Class Date</p>
                              <%= form.datetime_local_field :when, class: "p-3 border" %>
                            </div>

                            <div class="flex">
                              <p class="font-semibold mr-2">Reoccuring?</p>
                              <%= form.check_box :reocurring, class: "reoccuring p-3 border mt-2" %>
                            </div>
                          </div>

                          <div id="inactive" class="mt-10 until-date invisible mr-5">
                            <i class="fas fa-chevron-right text-xl"></i>
                            <i class="fas fa-chevron-right text-xl"></i>
                          </div>

                          <div id="inactive" class="flex flex-col until-date invisible">
                            <p class="font-semibold">Until?</p>
                            <%= form.date_field :until, class: "p-3 border" %>
                          </div>
                        </div>

                        <div class="flex justify-start">
                          <div class="flex flex-col w-max mr-5">
                            <p class="font-semibold">Zoom Link</p>
                            <%= form.text_field :zoom_link, class: "p-3 border", placeholder: "https://" %>
                          </div>

                          <div class="flex flex-col w-max mr-5">
                            <p class="font-semibold">Zoom Passcode</p>
                            <%= form.text_field :zoom_code, class: "p-3 border", placeholder: "A1A1a1a1" %>
                          </div>
                          <%= form.submit "Add Class", class: "bg-teal p-3 text-white h-full hover:bg-teal-light", style: "margin-top: 1.7rem;" %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <%= form_with model: (params[:controller] == "events" ? @event : @review) do |f| %>
      <!-- Create a new event/review at the bottom of the page -->
      <div class="flex mb-5 relative">
        <i class="far fa-plus-square absolute top-4 left-4 text-4xl text-teal"></i>
        <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png", class: "w-64 object-cover h-64 shadow" %>

        <div class="bg-white flex flex-col md:flex-row relative mb-2 shadow w-full">
          <%= f.file_field :photo, class: "absolute bottom-4 left-4" %>

          <div class="p-6 flex flex-col space-y-6 h-64">
            <div class="flex flex-col space-y-1">
              <%= f.text_field :name, class: "text-2xl font-medium", placeholder: current_page?(events_path) ? "Name of class" : "Name of reviewer" %>
            </div>

            <p><%= f.text_area :description, placeholder: current_page?(events_path) ? "Class Description" : "Review Description", size: "50x2.9" %></p>

            <div class="flex justify-end">
              <%= f.submit "Create", data: { confirm: current_page?(events_path) ? "Create Class" : "Create Review" }, class: "bg-teal hover:bg-teal-light px-6 py-3 text-center text-white shadow-sm" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
