<!DOCTYPE html>
<html style="scroll-behavior: smooth">

  <head>
    <title>Unwind Yoga</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://js.stripe.com/v3"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>

    <!-- Google font import for calendar title -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100&display=swap" rel="stylesheet">
  </head>

  <body class="min-h-screen bg-gray-50 flex flex-col font-light text-black leading-relaxed">
    <% if notice %>
      <div id="notice" class="fixed top-24 right-3 z-50 rounded-lg shadow-lg bg-teal p-6 text-white"><%= notice %></div>
    <% end %>

    <% if alert %>
      <div id="alert" class="fixed top-24 right-3 z-50 rounded-lg shadow-lg bg-red p-6 text-white"><%= alert %></div>
    <% end %>

    <%= render "shared/navbar" %>

    <%= yield %>

    <button id="back-to-top" class="hidden fixed bottom-3 right-3 border rounded-full bg-white p-5 z-10">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
      </svg>
    </button>
  </body>

</html>
